.scene {
  position: relative;
  perspective: 0px;
  height: 150px;
  width: 100px;
  border-radius: 5px;
  display: inline-block;
}

.card {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100px;
  height: 150px;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform .5s .8s;
}

.flipped {
  transform: rotateY(-180deg);
}

.card__face {
  position: absolute;
  backface-visibility: hidden;
}

.card__face--front {
  transform: rotateY(180deg);
}